body {
    background-color:rgb(255, 231, 210);
}

h1, h2, h3 {
    margin:5px;
}

p {
    margin:5px;
}

header {
    border:black solid 2px;
    border-radius:5px;
    background-color:white;
    width:700px;
    margin-left:auto;
    margin-right:auto;
}

section {
    width:700px;
    margin-top:10px;
    margin-right:auto;
    margin-left:auto;
    border:black solid 2px;
    border-radius:5px;
    background-color:white;
}

section span {
    background-color:rgb(70, 70, 70);
    color:white;
    padding:3px;
    padding-right:5px;
    padding-left:5px;
    border-radius:5px;;
    cursor:pointer;
}

img {
    border:rgb(0, 0, 0) solid 3px;
    border-radius:8px;
    margin:5px;
}

li {
    list-style:none;
    margin-bottom:10px;
}

a {
    text-decoration:none;
    color:white;
}

footer {
    width:700px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:auto;
    margin-left:auto;
    background-color:white;
    border:black solid 2px;
    border-radius:5px;
}

footer h5 {
    margin-left:10px;
    color:rgb(104, 104, 104);
}

footer p {
    font-size:15px;
    margin-left:10px;
    float:right;
    color:rgb(255, 195, 143);
}